<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li<% if ('home' === _layout) { %><%- ' class="active"' -%><% } %>><a href="./">ホーム</a></li>
    <li<% if ('guide' === _layout) { %><%- ' class="active"' -%><% } %>><a href="guide/">使い方</a></li>
  </ul>
  <h3><a href="/www.passportjs.org/"><img src="/www.passportjs.org/assets/images/logo-90px.png" class="logo"> Passport</a></h3>
</div>
